body {
	font-family: 'Open Sans', sans-serif;
	background: url('/img/nature-background.jpg') center center/cover no-repeat;
	margin: 0;
	padding: 0;
	height: 831px;
	margin-top: 100px;
}

.container {
	background-color: #ffff;
    opacity: 0.9;
	padding: 30px;
	border-radius: 10px;
	margin: 0px auto;
	max-width: 450px;
}

h1 {
	text-align: center;
}

.form_group {
	margin-bottom: 20px;
}

label {
	display: block;
	font-weight: bold;
}

input[type='text'],
input[type='password'],
input[type='email'] {
	width: 95%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 15px;
}

.password_container {
	display: flex;
	align-items: center;
}

.captcha_container {
	display: flex;
	align-items: center;
}

.captcha_container input[type='text'] {
	flex: 1;
}

.captcha_container img {
	max-width: 100px;
	margin-left: 10px;
}

button {
    margin-left: 72px;
	padding: 10px 20px;
	background-color: #7b9213;
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

#clear_btn {
	background-color: rgb(156, 11, 11);
	margin-right: 10px;
}
